.wrapper {
  padding: 40px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: -35px;

  app-artists-list-item {
    display: block;
    width: calc(33.33% - 35px);
    margin-right: 35px;
    margin-bottom: 35px;
  }
}

.artists-wrapper {
  margin-bottom: -35px;
}

app-sort-selector {
  display: block;
  text-align: right;
}



